<div class="hero">
	<h2><%= @user.name %></h2>
  <p class="lead">
    <i><strong><%= @user.headline %></strong></i><br>
    location: <%= @user.location %><br>
    interests: <%= @user.interests %><br>
    college: <%= @user.college %><br>
    industry: <%= @user.job %><br> 
    birthday: <%= @user.bday %><br>
    gender: <%= @user.gender %><br>
  </p>
</div>
<hr>
<h3>Events I created</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Location</th>
      <th>Description</th>
      <th>Posted by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
   <%= render @events %>
  </tbody>
</table>
<br/>
<%= link_to 'Add New Event', new_event_path, class: "btn btn-primary btn-large" %>