<div class="hero">
	<h2><%= image_tag @user.gravatar_url, class: "img-rounded" %> <%= @user.name %></h2>
  <p class="lead">
    <i><strong><%= @user.headline %></strong></i><br>
    location: <%= @user.location %><br>
    interests: <%= @user.interests %><br>
    college: <%= @user.college %><br>
    industry: <%= @user.job %><br> 
    birthday: <%= @user.bday %><br>
    gender: <%= @user.gender %><br>
  </p>
</div>

<hr>
<div id="events" class="transitions-enabled">
  <% @user.events.each do |event| %>

        <div class="box panel panel-default">
      <div class="panel-heading">
        <h3><%= event.title %></h3>
      </div>
      <%= link_to image_tag(event.image.url(:medium)), event %>
      <div class="panel-body">
        <p class="lead"><%= event.location %></p>
        <p><%= event.description %></p>
        <p>Posted by <strong><%= link_to event.user.name, event.user %></strong></p>
        <% if event.user == current_user %>
          <div class="actions">
            <%= link_to edit_event_path(event) do %>
              <span class="glyphicon glyphicon-edit"></span> Edit
            <% end %>
            <%=  link_to event, method: :delete, data: { confirm: 'Are you sure?' }  do %>
              <span class="glyphicon glyphicon-trash"></span> Delete
            <% end %>
          </div>  
        <% end %>
      </div>  
    </div> 
     
  <% end %>
    
</div>