<!--
Old index _event partial

<tr>
  <td><%= link_to image_tag(event.image.url(:medium)), event %></td>
  <td><%= event.title %></td>
  <td><%= event.location %></td>
  <td><%= event.description %></td>
  <td><%= image_tag event.user.gravatar_url, class: "img-circle" %></td>
  <td><strong><%= link_to event.user.name, event.user %></strong></td>
  <td><small><%= link_to 'Show', event %></small></td>
  <% if current_user == event.user %>
  	<td><small><%= link_to 'Edit', edit_event_path(event) %></small></td>
  	<td><small><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></small></td>
  <% end %>
</tr>

Old index page code

  <table class="table">
      <br/>
    <thead>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Location</th>
        <th>Description</th>
        <th>Posted by</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>    
      <%= render 'event', :event => event %>
    <% end %>
    </tbody>
  </table>
  <br/>
-->