<%= link_to 'Back', events_path %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<%= image_tag @event.image.url(:medium) %>
			</div>	
			<div class="panel-body">
				<p><%= @event.description %></p>
				<p><strong><%= @event.user.name if @event.user %></strong></p>
				<% if @event.user == current_user %>
					<%= link_to edit_event_path(@event) do %>
						<span class="glyphicon glyphicon-edit"></span> Edit
					<% end %>
					<%=  link_to @event, method: :delete, data: { confirm: 'Are you sure?' }  do %>
						<span class="glyphicon glyphicon-trash"></span> Delete
					<% end %>
				<% end %>
			</div>
		</div>	
	</div>
</div>